/* Estilo base del body */
body {
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../recursos/k-pop banner.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Estilo del header */
header {
    background-color: #e0048c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilo del menú de navegación */
nav {
    background-color: #444;
    position: relative;
    z-index: 999; /* Asegura que esté por encima de otras capas */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
}

nav ul li {
    position: relative;
    text-align: center;
    flex-grow: 1;
    min-width: 5rem;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #444;
    width: 100%;
}

nav ul li a:hover {
    background-color: #555;
}

/* Submenús */
nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border-top: 2px solid rgb(255, 0, 234);
    display: none;
    z-index: 1001;
    width: max-content;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    float: none;
    width: 100%;
    text-align: left;
}

/* Sección principal con contenido */
section {
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
